<div id="breadcrumb">
    <ol vocab="http://schema.org/" typeof="BreadcrumbList">
        <li property="itemListElement" typeof="ListItem">
            <a property="item" typeof="WebPage" href="./">
                <span property="name">
                    Anasayfa
                </span>
            </a>
            <meta property="position" content="1">
        </li>
        <li property="itemListElement" typeof="ListItem">
            <a property="item" typeof="WebPage" href="#">
                <span property="name">
                    Breadcrumb 2
                </span>
            </a>
            <meta property="position" content="2">
        </li>
        <li property="itemListElement" typeof="ListItem">
            <a property="item" typeof="WebPage" href="javascript:void(0)">
                <span property="name">
                    Breadcrumb 3
                </span>
            </a>
            <meta property="position" content="3">
        </li>
    </ol>
</div>