<div class="col-lg-3 ps-0">
    <section class="sidebar">
        <nav class="side-navbar">
            <ul>
                <li class="nav-sub">
                    <a href="#">
                        <i><img src="assets/img/icon/icon-nav-assistan.svg" alt=""></i>
                        <span>Bi'Asistan</span>
                    </a>
                    <ul class="nav-sub-list" style="display: none;">
                        <li><a href="#"><span>Menü 1</span></a></li>
                        <li><a href="#"><span>Menü 2</span></a></li>
                        <li><a href="#"><span>Menü 3</span></a></li>
                    </ul>
                </li>
                <li class="nav-sub">
                    <a href="#">
                        <i><img src="assets/img/icon/icon-nav-muhasebe.svg" alt=""></i>
                        <span>Ön Muhasebe</span>
                    </a>
                    <ul class="nav-sub-list" style="display: none;">
                        <li><a href="#"><span>Menü 1</span></a></li>
                        <li><a href="#"><span>Menü 2</span></a></li>
                        <li><a href="#"><span>Menü 3</span></a></li>
                    </ul>
                </li>
                <li class="">
                    <a href="#">
                        <i><img src="assets/img/icon/icon-nav-yonetim.svg" alt=""></i>
                        <span>Genel Yönetim</span>
                        <div class="nav-qty">9</div>
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <i><img src="assets/img/icon/icon-nav-donusum.svg" alt=""></i>
                        <span>E-Dönüşüm</span>
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <i><img src="assets/img/icon/icon-nav-muhasebe.svg" alt=""></i>
                        <span>Bi'Finans</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i><img src="assets/img/icon/icon-nav-pazaryerleri.svg" alt=""></i>
                        <span>Pazaryerleri</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i><img src="assets/img/icon/icon-nav-raporlar.svg" alt=""></i>
                        <span>Raporlar</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i><img src="assets/img/icon/icon-nav-pazar.svg" alt=""></i>
                        <span>Bi'Pazar</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i><img src="assets/img/icon/icon-nav-ayarlar.svg" alt=""></i>
                        <span>Ayarlar</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i><img src="assets/img/icon/icon-nav-destek.svg" alt=""></i>
                        <span>Biyolla Destek</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="sidebar-footer">
            <div class="sidebar-user">
                <a href="./profilim.html" title="Profilime git">
                    <figure class="user-avatar">
                        <img src="assets/img/shared/users/ugur.png" alt="avatar">
                        <!--TODO : write "UK" is empty profile image-->
                    </figure>
                    <div class="user-name">
                        Uğur Kartal
                    </div>
                </a>
            </div>
            <div class="sidebar-button">
                <a href="javascript:void(0)" class="btn-lock-monitor locked">
                    <i><img src="assets/img/icon/icon-lock.svg" alt=""></i>
                    <span>Ekranı Kilitle</span>
                </a>
            </div>
            <div class="sidebar-copyright">
                ©2021 Biyolla. Tüm hakları saklıdır.
            </div>
        </div>
    </section>
</div>