<link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon.ico/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon.ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon.ico/favicon-16x16.png">
<link rel="manifest" href="assets/img/favicon.ico/site.webmanifest">
<link rel="mask-icon" href="assets/img/favicon.ico/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="assets/img/favicon.ico/ms-icon-144x144.png">

<link rel="stylesheet" href="assets/css/frameworks/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/frameworks/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/frameworks/jquery.fancybox.min.css">
<link rel="stylesheet" href="assets/css/frameworks/slick.css">
<link rel="stylesheet" href="assets/css/style.css">

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
